{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="card p-4 text-center">
        <h1>Website Name : <span style="color:blueviolet;">{{websitename}}</span></h1>
        <h3>Website URL : <span style="color: blueviolet;">{{websiteurl}}</span></h3>
        <h3>Username : <span style="color: blueviolet;">{{username}}</span></h3>
        <h3>Email : <span style="color: blueviolet;">{{email}}</span></h3>
        <h3>Password : <span style="color: red;">{{password}}</span></h3>
    </div>
</div>

{% endblock %}